/* Catatan :
 Jangan ganggu custom font kalo ga nemu yang lebih bagus.
 setiap page bisa diliat bagiannya disini dari komentar yang udah aku tulis.
 jangan ganggu warna dan desain inti.
 aji tinggal masukin dinamika dalam bentuk form (menghubungkan website dengan database)
 dan ahmad ya tambah tambahin apa gitu.
 sip, salam cinta, Muhammad Fikri Khaidir. */



@font-face {
	font-family: opensansreg;
	src: url('font/OpenSans-Regular.ttf');
}

@font-face {
	font-family: opensansbolditalic;
	src: url('font/OpenSans-BoldItalic.ttf');
}

@font-face {
	font-family: opensansbold;
	src: url('font/OpenSans-Bold.ttf');
}


@font-face{
	font-family: hmsyekta;
	src: url('font/HMSYekta.ttf');
}

/* Property Navbar */


.navbar-default {
  background-color: #489046;
  border-color: #3A7738;

}
.navbar-default .navbar-brand {
	font-family: opensansbolditalic;
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #B2B5BA;
}
.navbar-default .navbar-text {
  font-family: opensansreg;
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	font-family: opensansbold;
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	font-family: opensansbold;
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #489046;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	font-family: opensansbold;
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #B2B5BA;
  background-color: #3B7239;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #0F0F0F;
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1d8dec;
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1d8dec;
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle {
  border-color: #f5f5f5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #1d8dec;
}



@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #f5f5f5;
  }
}

/* Jumbotron */

.jumbotron{
  background-color: transparent;
  background-image: url('img/front1.jpg');
  opacity: 1;
  background-size: cover;
  background-position: center;
  padding: 260px 25px;

}

.jumbotron big{
	font-family: opensansbolditalic;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 64px;
	text-shadow: 3px 3px black;

}

.jumbotron small{
	font-family: opensansbolditalic;
	color: gray;
	text-align: center;
	font-weight: bold;
	font-size: 45px;
	text-shadow: 2px 2px black;
}

/*-- containers */





.col-sm-4 .col-sm-8 h4,p{
  color: black;

}

.container-fluid big{
	font-family: opensansbolditalic;
	font-size: 45px;
	text-align: left;
	text-shadow: 2px 2px black;
	color : #336699;

}

/* index page */

.bg {
  background: url('img/front2.jpg') no-repeat center center;
	background-size:cover;
  position:fixed;
  width: 100%;
  height: 600px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 600px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
	background-size: cover;
}

/* Motto */
.container-motto {
	background-color: #489046;
	padding-top: 55px;
	padding-bottom: 80px;
}

.motto-header h2{
	font-family: 'Arvo';
	color: #C3D898;
	text-shadow: 3px 3px #205957;
	font-size: 52px;
}

.motto-item h1 {
	font-family: 'Josefin Slab';
	font-weight: bolder;
	font-size: 92px;
	color: #C3D898;
	text-shadow: 3px 3px #205957;
}

.motto-item h2 {
	font-family: 'Josefin Slab';
	font-weight: bolder;
	font-size: 68px;
	color: #70161E;
	text-shadow: 3px 3px black;
}

.motto-item p{
	font-weight: bolder;

	color: white;
}

.motto-item strong{
	font-family: 'Arvo';
	color: #70161E;
	text-shadow: 1px 1px black;
}

.separator-motto{
	width: 135px;
	margin-top: -4px;
	margin-bottom: 2px;
	color: #C3D898;

}



/* Akreditasi */

.container-akre{
	background-color: #C3D898;
	padding-top: 50px;
	margin-top: -50px;
	padding-bottom: 50px;
}

.container-akre big{
	font-family: 'Arvo';
	font-size: 52px;
	text-align: center;
	text-shadow: 3px 3px #7EA16B;
	color : #70161E;

}

.container-akre small{
	font-family: 'Arvo';
	font-size: 57px;
	text-align: center;
	text-shadow: 2px 2px #70161E;
	color : white;
}

.container-akre h1{
	font-family: 'Arvo';
	font-size: 35px;
	text-align: center;
	text-shadow: 2px 2px #70161E;
	color : white;

}

hr{
	border-width: thick;
}





.container-staff{
	margin-top: -25px;
	padding-top: 30px;
  padding-bottom: 120px;
  padding-right: 105px;
  padding-left: 105px;
	background-color: #C3D898;
}

.container-staff big {
	font-family:'Lato';
	text-shadow: 2px 2px #3F4739;
	color : #717568;
	font-size: 45px;
}
/*.col-lg-8{
  padding-top: 35px;
  padding-right: 200px;
  padding-left: 105px;
  padding-bottom: 120px;
} */

.container-staff-main{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;

}

.container-staff-main-gray{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #AFC6C6;
}

.container-contact{
	margin-top: -25px;
	padding-top: 55px;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 120px;
	background-color: #C3D898;
}

.container-contact big {
  font-family:'Lato';
	text-shadow: 2px 2px #3F4739;
	color : #717568;
	font-size: 45px;
}

.container-maincontent-contact{
  padding-top: 25px;
  padding-right: 105px;
  padding-left: 105px;
}


.container-about{
	margin-top: -25px;
	padding-top: 55px;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 170px;
	background-color: #C3D898;
}

.container-about big{
	font-family:'Lato';
	text-shadow: 2px 2px #3F4739;
	color : #717568;
	font-size: 45px;
}

.container-news big {
	font-family:'Lato';
	text-shadow: 2px 2px #3F4739;
	color : #717568;
	font-size: 45px;
}

.subheading{
	font-family:'Lato';
	text-shadow: 0.5px 0.5px #3F4739;
	color : #717568;
	font-size: 18px;
}

.container-news{
	margin-top: -25px;
	padding-top: 55px;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 170px;
	background-color: #C3D898;

}

.container-news-main{
	margin-top: -30px;
	padding-top: 5px;
  padding-right: 105px;
  padding-left: 105px;
  font-family: 'DroidNaskhRegular';
}

.container-news-main-white{
	padding-top: 5px;
	padding-right: 295px;
	padding-left: 295px;
	padding-bottom: 35px;
	
}
.container-news-main-white p{
	font-family: opensansreg;}

.container-news-main-gray p{
	font-family: opensansreg;
	
}

.container-news-main-gray{
	background-color: #AFC6C6;
	padding-top: 5px;
	padding-right: 295px;
	padding-left: 295px;
	padding-bottom: 35px;
	text-align: right;
	
}

.

/* Prestasi */

.container-prestasi {
	padding-top: 55px;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 120px;
	background-color: #C3D898;
}

.container-prestasi big {
	font-family:'Lato';
	text-shadow: 2px 2px #3F4739;
	color : #717568;
	font-size: 45px;
}


/* Services */

.row {
    margin-right: -15px;
    margin-left: -15px;
    max-width: 1351px;
}

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

.service-item a,p,ul,li,h1,h2,h3,h4 {
  font-family: opensansreg;
}

/* Portfolio */

.portfolio {
    padding:  0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Map */

.map {
    height: 500px;
}

.map iframe{
	pointer-events: none;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

 .overlay {
   background:transparent;
   position:relative;
   width:640px;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

/* Footer */

footer {
		padding-top: 20px;
    padding-bottom: 20px;
    background-color: #489046;
    border-color: #3A7738;
		position: static-bottom;

}



.containerfooter p, ul ,li ,h4, a{
  font-family: opensansreg;
  color: white;
}




/*  Contact Page */

.intro-header {
  padding-top: 50px;
}

/* Post page */

article {
  padding-top: 100px;
}

.imageHeight {
	min-height: 100px;
	
}
