/* PPDB Page */


.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 16px;
		font-weight: bold;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.logo-dikdasmen img{
	padding-top: 50px;
	padding-bottom: 15px;

}

.header-ppdb{
	padding-top: 70px;
}

.header-ppdb h5{
	font-family: serif;
	text-align: center;
	font-weight: bold;
	font-size: 21px;
	line-height: 1px;
	font-stretch: ultra-expanded;
}

.header-ppdb h6{
	font-family: serif;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 1px;
}

.header-ppdb p{
	font-family: serif;
	text-align: center;
	line-height: 0px;

}







.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0px solid #ddd;
